{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Modifier un tag</h1>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
