{% extends 'base.html.twig' %}


{% block body %}
    <h1>Tutorat & Entraide</h1>
    <a href="#">Les cours</a>
    <br />

    <a href="#">Le tutorat c'est quoi ?</a>
    <br />

    <a href="#">En savoir plus</a>
    <br />

    <h3>Participer</h3>
    <div>
        <a href="{{ path('home') }}">Les cours</a>
    </div>

    <div>
        <a href="#">Donner un cours</a>
    </div>

    <div>
        <a href="#">Suggérer un cours</a>
    </div>
    <br />

    <a href="#">Pourquoi donner un cours ?</a>
    <br />

    <a href="{{ path('home') }}">Les cours</a>
    <br />

    <a href="#">En savoir plus</a>
    <br />

{% endblock %}
