{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
    <h1 class="display-4 pb-5">Le RGPD, qu’est-ce que c’est ?</h1>


</div>
{% endblock %}

{% block body %}


    <p>
        Le règlement général de protection des données (RGPD) est un texte réglementaire européen qui encadre le traitement des données de manière égalitaire sur tout le territoire de l’Union Européenne. Il est entré en application le 25 mai 2018.

    </p>
    <p>
        Le RGPD s’inscrit dans la continuité de la Loi française Informatique et Libertés de 1978 établissant des règles sur la collecte et l’utilisation des données sur le territoire français. Il a été conçu autour de 3 objectifs :

    </p>
    <ul>
        <li>
            renforcer les droits des personnes
        </li>
        <li>
            responsabiliser les acteurs traitant des données
        </li>
        <li>
            crédibiliser la régulation grâce à une coopération renforcée entre les autorités de protection des données
        </li>
    </ul>





    <br>
    <h3>Données personnelles : de quoi parle-t-on ?</h3><br>

    <p>Une donnée personnelle est décrite par la CNIL comme « toute information se rapportant à une personne physique identifiée ou identifiable ». Il existe 2 types d’identifications :</p>
    <ul>
        <ol>
            identification directe (nom, prénom etc.)
        </ol>
        <li>
            identification indirecte (identifiant, numéro etc.).
        </li>
    </ul>



    <p>Lorsqu’une opération ou un ensemble d’opérations portant sur des données personnelles sont effectuées, on considère qu’il s’agit de traitement de données personnelles. La CNIL donne les actions suivantes à titre d’exemple du traitement des données :</p>
    <ul>
        <li>
            tenue d’un fichier de ses clients

        </li>
        <li>
            collecte de coordonnées de prospects via un questionnaire

        </li>
        <li>
            mise à jour d’un fichier de fournisseurs

        </li>
    </ul>

    Vous pouvez en lire plus sur <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">le site de la CNIL</a>


{% endblock %}
