*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

html{
	min-height: 100vh;
	scroll-behavior: smooth;
}

body{
	min-height:100vh;
}

#header{
	background-image: url(../image/backgroundtop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height:100vh;
}

.button {
	border-radius: 9px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.button:hover {
	text-decoration: none;
	border-radius: 50px;
}

.button ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.button ul li {
	--c: goldenrod;
	color: var(--c);
	font-size: 16px;
	border: 0.3em solid var(--c);
	border-radius: 0.5em;
	width: 12em;
	height: 3em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 3em;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: 0.5s;
	margin: 1em;

}

.button ul li span {
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: var(--c);
	transform: translateY(150%);
	border-radius: 50%;
	left: calc((var(--n) - 1) * 25%);
	transition: 0.5s;
	transition-delay: calc((var(--n) - 1) * 0.1s);
	z-index: -1;
}

.button ul li:hover {
	color: black;
}

.button ul li:hover span {
	transform: translateY(0) scale(2);
}

.button ul li span:nth-child(1) {
	--n: 1;
}

.button ul li span:nth-child(2) {
	--n: 2;
}

.button ul li span:nth-child(3) {
	--n: 3;
}

.button ul li span:nth-child(4) {
	--n: 4;
}

.media{
	margin: 60px;
}

.media-body{
	text-align: center;
}

.media-body h2{
	padding: 50px;
}

.media-body p{
	margin-bottom: 10%;
}

.row{
	margin-top: 10%;
	width: 100%;
	display: flex;
	margin-bottom: 10%;
}

.card{

	margin: 0 30px;
	border-radius: 5px;
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,.5);
}

.card h4{
	margin: 20px;
	text-align: center;
}

.card p{
	text-align: center;
	margin: 10px;
}

.card ul {
	text-align: center;
}

.card .button{
	margin: auto;
}

footer{
	margin-top: 10%;
	text-align: center;
	color: white;
	padding: 20px;
	background-color: black;
}

footer a {
	color: white;
}