{% extends 'base.html.twig' %}

{% block title %}Hello ChoixMatiereController!{% endblock %}

{% block body %}

oui
    <a class="nav-link pr-5 h3" href="{{ path('voir_math') }}">Voir</a>
    <a class="nav-link pr-5 h3" href="{{ path('post_math') }}">Poster</a>
{% endblock %}
