<html>
    <body>
        <h1>
            Hello {{ app.user.nom }} {{ app.user.prenom }} ! ✅
        </h1>

        Ta demande de création de matière à bien été enregisté !<br><br>

        Un administrateur validera ou refusera la matière selon son jugement<br><br>

        Nom de la matiere : {{ result[0].intitule }}<br>
    </body>
</html>