<html>
    <body>
        <h1>
            Hey ! Listen !
        </h1>

        Une nouvelle matiere vient d'être ajoutée par {{ app.user.nom }} {{ app.user.prenom }}<br><br>
        Elle attend une validation ou un refus dans le pannel admin :<br>
        http://127.0.0.1:8000/admin<br><br>

        Nom de la matiere : {{ result[0].intitule }}<br>

    </body>
</html>