{% extends 'base.html.twig' %}

{% block body %}
    <h3>Les stages</h3>

    <p>Donner un stage</p>
    <p>Participer</p>

    <p>Barre de recherche</p>

    <p>Cours</p>
    <p>S'inscrire</p>
{% endblock %}
