{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les cours</h1>

    <p>Barre de recherche</p>

    <a href="{{ path('suggest_courses') }}">Suggérer un cours</a>
    <br />

    <h3>Cette semaine</h3>
    <div>
        <p>matière</p>
        <p>Date</p>
        <p>Thème = matière ?</p>
        <p>Difficultés</p>
        <p>Intitulé</p>
        <a href="#">S'inscrire</a>
    </div>
    <br />

    <h3>La semaine prochaine</h3>
    <div>
        <p> du cours</p>
        <p>Description</p>
        <a href="#">S'inscrire</a>
    </div>
    <br />

    <h3>Plus tard</h3>
    <div>
        <p>Intitulé du cours</p>
        <p>Description</p>
        <a href="#">S'inscrire</a>
    </div>
    <br />

{% endblock %}
