{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les cours</h1>

    <p>Barre de recherche</p>

    <a href="#">Suggérer un cours</a>
    <br />

    <h3>Cette semaine</h3>
    <a href="#">S'inscrire</a>
    <br />

    <h3>La semaine prohaine</h3>
    <a href="#">S'inscrire</a>
    <br />

    <h3>Plus tard</h3>
    <a href="#">S'inscrire</a>
    <br />

{% endblock %}
