{% extends "base.html.twig" %}

{% block title %}Créer un commentaire{% endblock %}

{% block body %}

    <h1 class="center">Créer un commentaire</h1>

    <div class="div_center">
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content) }}
    </div>
    <br />
    <div style="margin-left: 730px">{{ form_end(commentForm) }}</div>

{% endblock %}

